#tablero{
	width: 400px;
	height: 400px;
	border: 2px solid black;
}

.fila{
	height: 50px;
}

.celda{
	width: 50px;
	height: 100%;
	float: left;
}

.celda .blanca{
	background-color: white;
}

.negra{
	background-color: black;
}

.ficha {
    width: 70%;
    height: 70%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	margin: 15%;
}

.azul{
	background: blue;
}

.roja{
	background: red;
}